/********************************************************************************/
/************************************ General ***********************************/
/********************************************************************************/

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

button {
    outline:none;
}

input {
    outline:none;
}

#map.drawing {
    cursor: crosshair;
    /*cursor: url("../img/pen.png") 0 16, auto;*/
}


/********************************************************************************/
/********************************** General controls ****************************/
/********************************************************************************/

.hamburger-container-left {
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 1;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #999999;
}

.hamburger-container-right {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #999999;
}

.hamburger {
    background: url("../img/hamburger.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 0px;
}

.hamburger:hover {
    background: url("../img/hamburger-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.collapse-left {
    background: url("../img/collapse-left.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 10px;
    border: 0px;
    position: absolute;
    right: 0px;
}

.collapse-left:hover {
    background: url("../img/collapse-left-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.collapse-right {
    background: url("../img/collapse-right.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 10px;
    border: 0px;
    position: absolute;
    left: 0px;
}

.collapse-right:hover {
    background: url("../img/collapse-right-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}


/********************************************************************************/
/********************************* Checkbox Toggle ******************************/
/********************************************************************************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
    margin: 0 5px 0 8px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .covid{
    background-color: #B92739;
}

input:checked + .ILI{
    background-color: #fb9a99;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}





/********************************************************************************/
/************************************* Timeline *********************************/
/********************************************************************************/

#timeline  {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999999;
    position:absolute;
    left:50%;
    top:5px;
    transform: translate(-50%, 0%);
    z-index: 15;
    width: 402px;
    height: 65px;
    display: flex;
    align-items: center;
}

#timeline-container button, p{
    display: inline;
}

#timeline-container button{
    border: 0px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
}

#timeline-expand {
    background: url("../img/expand.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#timeline-expand:hover {
    background: url("../img/expand-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.not-playing{
    background: url("../img/play.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.not-playing:hover {
    background: url("../img/play-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.playing{
    background: url("../img/pause.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.playing:hover{
    background: url("../img/pause-dark.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#timeline-container {
    display: flex;
    align-items: center;
    position: relative;
}

#timeline-control-small {
    display: inline;
    width: 330px;
    padding: 0px 5px;
    text-align:center;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-progress,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 8px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 6px;
}

.track-progress {
    stroke: #999999;
    stroke-width: 6px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: grab;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.timeline-event {
    stroke: #1f78b4;
    stroke-opacity: 0.7;
    stroke-width: 4px;
    stroke-linecap: round;
}

.timeline-event.active {
    stroke-width: 8px;
}

.timeline-event-label {
    color: #1f78b4;
}





/********************************************************************************/
/****************************** Left sidebar (controls) *************************/
/********************************************************************************/

.sidebar-header {
    height:25px;
}

.sidebar-section {
    margin: 10px;
    padding: 10px 0px;
}

.sidebar-section-menu {

}

.sidebar-section-menu-row {
    font-size: 14px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.sidebar-section-menu-item {
    font-size: 14px;
    margin: 5px 0px;
}

.sidebar-section-menu-row input[type="radio"], input[type="checkbox"]{
    margin: 0 5px 0 8px;
}

.sidebar-section-menu-item input[type="radio"], input[type="checkbox"]{
    margin: 0 5px 0 8px;
}

.sidebar-section-header {
    color: #222222;
    border-bottom: 3px solid #cccccc;
}

#control-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.1s;
    box-shadow: 2px 0px 5px #999999;
}

.sidebar-section-menu-tile {
    margin:auto;
    text-align: center;
}

.sidebar-section-menu-tile span {
    font-size: 12px;
}

.sidebar-section-menu-tile-img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: auto;
    border: 3px solid #cccccc;
    border-radius: 10px;
}


.sidebar-section-menu-tile-img:hover {
    border: 3px solid #777777;
}

.sidebar-section-menu-tile-img.active {
    border: 3px solid #1f78b4;
}

#within-x-days-value {
    width: 26px;
    margin: 0px 4px;
}

#dot-density-btn {
    background: url("../img/dot-density.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#twod-density-btn {
    background: url("../img/2d-density.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#contours-btn {
    background: url("../img/contour.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#population-btn {
    background: url("../img/population-density.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#income-btn {
    background: url("../img/income.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#hotspot-btn {
    background: url("../img/hotspot.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#draw-box-btn {
    background: url("../img/draw-box.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#select-region-btn {
    background: url("../img/select-region.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#clear-poly-btn {
    background: url("../img/clear-regions.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

#free-draw-btn {
    background: url("../img/free-draw.png") no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

/********************************************************************************/
/****************************** Right sidebar (charts) **************************/
/********************************************************************************/

#chart-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.1s;
    box-shadow: -2px 0px 5px #999999;
}














